<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--tcp超时时间秒-->
		<add key="tcptimeout" value="300"/>
		<!--tcp端口-->
		<add key="tcpport" value="16061"/>
		<!--UDP端口-->
		<add key="udpport" value="16062"/>
		<!--TCP队列、UDP队列、定时开关任务多少秒执行一次-->
		<add key="timer" value="30"/>
		<!--读设备状态任务多少分钟执行一次-->
		<add key="readtimer" value="3"/>
		<!--日志是否打印 0不打印 1打印-->
		<add key="printlog" value="1"/>
		<!--日志文件保存天数-->
		<add key="fileday" value="2"/>
		<!--sqllite数据库文件地址-->
		<add key="dbPath" value="E:\Code\公共用电平台\棕榈城\厦门IOI棕榈城D1室外照明工程\NewLightingCloudWeb\qdhy.db"/>
	</appSettings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
		<supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
